@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
* {
  margin: 0px;
  padding: 0px;
  font-family: 'Poppins', sans-serif;
}

.container {
  background-color: black;
  height: 100vh;
}

.netflix {
  width: 10rem;
  margin-top: -2rem;
  margin-left: 2rem;
}

.watch {
  color: white;
  font-size: 2.2rem;
  text-align: center;
  margin-top: 2rem;
}

.icon {
  width: 100px;
  padding: 20px;
}

.icon:hover {
  padding: 0.5px;
  transition: 0.5s ease-in;
  border: 4px solid white;
}

.store {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

a {
  color: white;
  text-decoration: none;
  font-size: 25px;
  letter-spacing: 1.2px;
  font-weight: 500;
}

@media (max-width: 768px) {
  .icon{
    width: 50%;
  }
  a{
    font-size: 17px;
    font-weight: bolder;
  }
  .netflix{
    width: 100px;
    margin-top: 1px;
  }
  .watch{
    font-size: 25px;
  }
}
